numpy==numpy==1.24.4 # Specify the version compatible with other packages
pandas
seaborn
matplotlib
scikit-learn==1.1.3
xgboost
nba_api
torch
joblib
streamlit
nbconvert
plotly
openai
ipykernel
mlflow
tensorboard
gym
