numpy
pandas
scikit-learn
joblib
matplotlib
seaborn
jupyter
jupyterlab
ipykernel
pytest
black
flake8
mypy
dash
dash-bootstrap-components
plotly
opencv-python
pillow
tqdm
statsmodels
nba_api
requests
streamlit
xgboost
lightgbm
shap
beautifulsoup4
cpi
lxml
IPython
tabulate
pyspark
