numpy==1.26.0
pandas==2.2.2
scikit-learn==1.2.0
matplotlib==3.9.1
seaborn==0.13.2
jupyter==1.0.0
jupyterlab==4.2.4
ipykernel==6.29.5
pytest==8.3.2
black==24.8.0
flake8==7.1.1
mypy==1.11.1
dash==2.17.1
dash-bootstrap-components==1.6.0
plotly==5.23.0
opencv-python==4.10.0.84
pillow==10.4.0
tqdm==4.66.5
statsmodels==0.14.2
selenium==4.23.1
nba_api==1.1.13
requests==2.32.3
streamlit==1.37.0
xgboost==2.1.1
lightgbm==4.5.0
shap==0.46.0
beautifulsoup4==4.12.3
cpi==1.1.7
lxml==5.2.2
ipython==8.26.0
scipy==1.14.0
setuptools==65.5.0
